<section class="py-6 dark:bg-gray-800 dark:text-gray-50">
  <div class="grid max-w-6xl grid-cols-1 px-6 mx-auto lg:px-8 md:grid-cols-2 md:divide-x">
    <div class="py-6 md:py-0 md:px-6">
      <h1 class="text-4xl font-bold">Get in touch</h1>
      <p class="pt-2 pb-4">Just fill out the form, and I'll be in touch. Unless you're a robot. Or a jerk. Or a jerky robot.</p>
    </div>
    <form name="contact" data-netlify="true" class="flex flex-col py-6 space-y-6 md:py-0 md:px-6 ng-untouched ng-pristine ng-valid">
      <label class="block">
        <span class="mb-1">Name</span>
        <input name="name" required type="text" placeholder="Required" class="block w-full rounded-md shadow-sm focus:ring focus:ring-opacity-75 focus:ring-cyan-400 dark:bg-gray-800 placeholder-shown:!border-gray-500 invalid:border-pink-600">
      </label>
      <label class="block">
        <span class="mb-1">Email address</span>
        <input name="email" required type="email" placeholder="Required" class="block w-full rounded-md shadow-sm focus:ring focus:ring-opacity-75 focus:ring-cyan-400 dark:bg-gray-800 placeholder-shown:!border-gray-500 invalid:border-pink-600 ">
      </label>
      <label class="block">
        <span class="mb-1">Message</span>
        <textarea name="comment" required placeholder="Required" rows="3" class="block w-full rounded-md focus:ring focus:ring-opacity-75 focus:ring-cyan-400 dark:bg-gray-800 placeholder-shown:!border-gray-500 invalid:border-pink-600"></textarea>
      </label>
      <button type="submit" class="px-8 py-3 text-lg rounded focus:ring hover:ring focus:ring-opacity-75 dark:bg-cyan-400 dark:text-gray-900 focus:ring-cyan-400 hover:ring-cyan-400">Send message</button>
    </form>
  </div>
</section>