---
import Section from '@components/Section.astro';
---

<Section sectionTitle="Get in touch">
  <div class="col-span-12 space-y-12 relative px-4 sm:col-span-8 sm:space-y-8 sm:before:absolute sm:before:top-2 sm:before:bottom-0 sm:before:w-0.5 sm:before:-left-3 before:bg-gray-200 before:dark:bg-gray-700">
    <p class="pt-2 pb-4">Just fill out the form, and I'll get back to you. Unless you're a robot. Or a jerk.</p>
    <form name="contact" data-netlify="true" class="flex flex-col space-y-6 md:py-0 ng-untouched ng-pristine ng-valid">
      <label class="block">
        <span class="mb-1">Name</span>
        <input name="name" required type="text" placeholder="Required" class="block w-full rounded-md shadow-sm focus:ring focus:ring-opacity-75 focus:ring-cyan-400 dark:bg-gray-800 placeholder-shown:!border-gray-500 invalid:border-pink-600">
      </label>
      <label class="block">
        <span class="mb-1">Email address</span>
        <input name="email" required type="email" placeholder="Required" class="block w-full rounded-md shadow-sm focus:ring focus:ring-opacity-75 focus:ring-cyan-400 dark:bg-gray-800 placeholder-shown:!border-gray-500 invalid:border-pink-600 ">
      </label>
      <label class="block">
        <span class="mb-1">Message</span>
        <textarea name="comment" required placeholder="Required" rows="3" class="block w-full rounded-md focus:ring focus:ring-opacity-75 focus:ring-cyan-400 dark:bg-gray-800 placeholder-shown:!border-gray-500 invalid:border-pink-600"></textarea>
      </label>
      <button type="submit" class="px-8 py-3 text-lg rounded focus:ring hover:ring focus:ring-opacity-75 bg-cyan-600 dark:bg-cyan-400 text-gray-50 dark:text-gray-900 focus:ring-cyan-200 hover:ring-cyan-200">Send message</button>
    </form>
  </div>
</Section>