---
---

<header class="p-1 dark:bg-gray-900 dark:text-gray-100">
  <div class="container flex justify-between h-16 mx-auto">
    <a
      rel="noopener noreferrer"
      href="/"
      aria-label="Back to homepage"
      class="flex items-center p-2"
    >
      <svg
        viewBox="0 0 2550 3300"
        xmlns="http://www.w3.org/2000/svg"
        xml:space="preserve"
        class="w-10 h-10 dark:text-cyan-400"
        fill="currentColor"
        ><path
          d="M1604.11 2303.53H843.065c-46.547-1.55-84.172-18.62-112.876-51.2-28.704-32.58-43.056-72.92-43.056-121.02 0-23.27 5.431-47.71 16.292-73.31s24.049-46.16 39.564-61.68l128.004-128 20.947 20.95c-3.104 1.55-5.819 5.81-8.146 12.8-2.327 6.98-3.491 13.57-3.491 19.78 0 15.51 5.042 28.31 15.128 38.4 10.085 10.09 22.885 15.13 38.401 15.13h297.898c45 0 96.97 9.31 155.93 27.93 58.96 18.61 109.78 55.08 152.45 109.38 42.66 54.31 64 117.92 64 190.84zm-919.304 190.85 151.277-151.28h768.027c0 105.51-38.02 191.62-114.04 258.33-76.03 66.72-176.11 100.08-300.23 100.08-79.13 0-147.4-13.19-204.807-39.56-57.407-26.38-119.47-72.15-186.187-137.32-17.067-17.07-33.359-25.6-48.875-25.6-12.412 0-26.376 6.21-41.892 18.62l-23.273-23.27zm274.627-719.15 458.487-451.51c63.61 63.62 95.42 144.3 95.42 242.05 0 74.47-20.95 141.96-62.84 202.47-41.89 60.52-90.76 102.8-146.62 126.84-55.86 24.05-108.61 36.08-158.26 36.08-102.4 0-184.636-31.03-246.698-93.1l60.511-62.83zm432.887-477.11-416.596 414.27-104.731 97.75c-32.582-32.59-57.407-75.26-74.475-128.01l-2.327-9.31c-9.309-35.68-13.964-71.37-13.964-107.05 0-62.07 16.291-122.19 48.874-180.37 32.583-58.19 78.354-103.18 137.314-134.99 58.955-31.81 118.695-47.71 179.205-47.71 99.3 0 181.53 31.81 246.7 95.42m27.93-27.93-23.28-23.27c3.11-4.66 6.21-10.09 9.31-16.29 3.11-6.21-3.1-17.07-18.62-32.59-21.72-24.82-32.58-48.09-32.58-69.82 0-23.27 8.54-43.44 25.6-60.51 17.07-17.06 37.24-25.6 60.51-25.6 24.83 0 45.77 8.15 62.84 24.44s25.6 36.85 25.6 61.67c0 21.73-15.51 48.1-46.54 79.13l-62.84 62.84z"
          style="fill-rule:nonzero"
          transform="translate(-930.396 -1987.95) scale(1.94384)"></path>
      </svg>
    </a>
    <ul class="items-stretch hidden space-x-3 md:flex">
      <li class="flex">
        <a
          rel="noopener noreferrer"
          href="/"
          class="flex items-center px-4 -mb-1 border-b-2 dark:border-transparent"
          >Home</a
        >
      </li>
      <li class="flex">
        <a
          rel="noopener noreferrer"
          href="/posts"
          class="flex items-center px-4 -mb-1 border-b-2 dark:border-transparent"
          >Posts</a
        >
      </li>
    </ul>
    <button class="flex justify-end p-4 md:hidden" aria-label="Open menu">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </button>
  </div>
</header>
