---
---

<section>
  <div
    class="container flex flex-col justify-center mx-auto sm:py-6 lg:py-12 lg:flex-row lg:justify-between"
  >
    <div
      class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left"
    >
      <h1 class="text-5xl font-bold leading-none sm:text-6xl">
        Hi! I'm<br/><span class="bg-gradient-to-b from-cyan-400 to-sky-500 bg-clip-text text-transparent">Greg Gossett</span>.
      </h1>
      <p class="mt-6 mb-8 text-2xl sm:mb-12">
        I'm a UX designer and developer in Durham, North Carolina.
      </p>
    </div>
    <div
      class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128"
    >
      <img
        src="/img/avataaar.svg"
        alt="Greg's avatar"
        class="object-contain h-72 sm:h-80 lg:h-96"
      />
    </div>
  </div>
</section>
