---
import PortfolioItem from '@components/PortfolioItem.astro';
import Section from '@components/Section.astro';
---

<Section sectionTitle="Recent work">
  
  <div class="grid grid-cols-2 gap-6">
    <PortfolioItem 
      name="This site!"
      url="#"
      image="https://source.unsplash.com/random/480x360?2"
      description="The site you're looking at now. This was a good excuse to try out some new toys."
    />

    <PortfolioItem 
      name="AJE.com"
      url="#"
      image="https://source.unsplash.com/random/480x360?2"
      description="The frontend site for American Journal Experts"
    />

    <PortfolioItem 
      name="AJE order process"
      url="#"
      image="https://source.unsplash.com/random/480x360?2"
      description="The frontend site for American Journal Experts"
    />

    <PortfolioItem 
      name="Research Square internal tools"
      url="#"
      image="https://source.unsplash.com/random/480x360?2"
      description="The frontend site for American Journal Experts"
    />

</Section>
