---
const { sectionTitle } = Astro.props;
---

<section>
  <div class="container py-12 mx-auto">
    <div class="grid gap-4 mx-4 sm:grid-cols-12">
      <div class="col-span-12 sm:col-span-3">
        <div
          class="text-center sm:text-left mb-14 before:block before:w-24 before:h-3 before:mb-5 before:rounded-md before:mx-auto sm:before:mx-0 before:bg-cyan-400 before:my-2"
        >
          <h2 class="text-3xl font-semibold">{sectionTitle}</h2>
        </div>
      </div>
      <div class="relative col-span-12 px-4 space-y-6 sm:col-span-9">
        <slot />
      </div>
    </div>
  </div>
</section>
